@using ASP1_Assignment.Models.Identity;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<AppUser> SignInManager

<header>
    <div class="container d-flex justify-content-between">
        <a asp-controller="Home" asp-action="Index">
            <img id="logo" src="~/Images/logo.svg" alt="logo">            
        </a>


        @*
        @if (SignInManager.IsSignedIn(User))
        {
            <span>@User.Identity!.Name</span>
        }
        *@

        <div class="d-flex">
            <nav class="nav">
                <a class="nav-link" asp-controller="Home" asp-action="Index">HOME</a>
                <a class="nav-link" href="">PRODUCTS</a>
                <a class="nav-link" href="">CONTACT</a>
            </nav>
            <i class="bi bi-search text-disabled m-2"></i>


            @if (SignInManager.IsSignedIn(User))
            {

                <a asp-controller="Login" asp-action="Logout" class="text-disabled m-2">Logout</a>
            }
            else
            {

                <a asp-controller="Login" asp-action="Index" class="text-disabled m-2">Login</a>
            }


            <i class="bi bi-cart3 m-2 text-disabled"></i>
        </div>

        
    </div>
</header>                    

@* lek7 - 03_Fixxo: hur man visar olika beroende på om man är inloggad   *@