<header>
    <div class="container d-flex justify-content-between">
        <a href="#">
            <img src="~/Images/logo.svg" alt="logo">
            <span>bmerketo</span>
        </a>
        <nav class="nav">
            <a class="nav-link" href="">HOME</a>
            <a class="nav-link" href="">PRODUCTS</a>
            <a class="nav-link" href="">CONTACT</a>
            <a class="nav-link" href="">Login</a>

        </nav>
    </div>
</header>                    

@* lek7 - 03_Fixxo: hur man visar olika beroende på om man är inloggad   *@