<section class="subscribe-section py-5">
	<div class="container p-5 my-4">
		<form class="input-group">
			<input type="text"
				   placeholder="Enter your email here"
				   class="form-control p-4" />
			<button type="submit" class="btn bg-primary-color p-4">SUBSCRIBE FOR NEWSLETTER</button>
		</form>
	</div>
</section>