@model ASP1_Assignment.Models.Forms.LoginForm

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_CenterScreen.cshtml";
}


    <form asp-action="Index" method="post" asp-route-ReturnUrl="@Model.ReturnUrl"  class="row g-3 shadow-sm account-form p-4">
        <h1>Please Login to Your Account</h1>
        <div class="col-12">
            <label asp-for="Email" class="form-label required">@Html.DisplayNameFor(m => m.Email)</label>             
            <a asp-controller="Register" asp-action="Index" class="text-small text-primary ms-4">Don't have an Account yet?</a>
            <input asp-for="Email" class="form-control" />
		</div>
		<div class="col-12">
            <label asp-for="Password" class="form-label required">@Html.DisplayNameFor(m => m.Password)</label>            
            <a asp-controller="Forgot" asp-action="Index" class="text-small text-primary float-end">Forgot your password?</a>
            <input asp-for="Password" class="form-control" />
		</div>
		<div class="col-6 my-5">
            <input asp-for="KeepLoggedIn" type="checkbox" class="d-inline-block" />
            <label asp-for="KeepLoggedIn" class="text-small">
                @Html.DisplayNameFor(m => m.KeepLoggedIn)
            </label>
		</div>
		<div class="col-12 mt-3">
            <button type="submit" class="btn bg-primary-color py-2 px-4">Submit</button>
		</div>


    </form>
