@model ASP1_Assignment.Models.Forms.LoginForm

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_CenterScreen.cshtml";
}

<section>
    <div>
        <h1>Log in to your account.</h1>
    </div>
    <form asp-action="Index" method="post" asp-route-ReturnUrl="@Model.ReturnUrl">
        <div class="form-group">
            <div class="form-label">
                <label asp-for="Email" class="control-label">Email *</label> @* kanske ersätta * med ::after och ta bort texten innuti taggen helt *@
                <a asp-controller="Register" asp-action="Index">Don't have an Account yet?</a>
            </div>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <div class="form-label d-flex justify-content-between">
                <label asp-for="Password" class="control-label">Password *</label>
                <a asp-controller="Forgot" asp-action="Index">Forgot your password?</a>
            </div>
            <input asp-for="Password" class="form-control" />
        </div>
    </form>
</section>